<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?eclipse version="3.4"?><plugin>
  <extension point="org.eclipse.gemoc.gemoc_language_workbench.concurrent.xdsml">
    <XDSML_Definition codeExecutor_class="dataflow.xdsml.api.impl.DataflowCodeExecutor" modelLoader_class="org.eclipse.gemoc.executionframework.extensions.sirius.modelloader.DefaultModelLoader" name="org.gemoc.xcapella.dataflow.xdsml.DataFlow" solver_class="org.eclipse.gemoc.execution.concurrent.ccsljavaengine.extensions.timesquare.moc.impl.CcslSolver" toCCSLQVTOFilePath="/org.gemoc.xcapella.dataflow.dse/qvto-gen/modeling/CapellaDataflow.qvto" xdsmlFilePath="/org.gemoc.xcapella.dataflow.xdsml/src/main/xdsml/org/gemoc/xcapella/dataflow/xdsml/xcapella_dataflow.melange"/>
  </extension>
  
   <extension point="org.eclipse.emf.ecore.generated_package">
    <!-- @generated DataFlowMT -->
    <package class="org.gemoc.xcapella.dataflow.xdsml.dataflowmt.epbs.EpbsPackage" genModel="model-gen/DataFlowMT.genmodel" uri="http://org.gemoc.xcapella.dataflow.xdsml.dataflowmt/epbs/"/>
  </extension>
  <extension point="org.eclipse.emf.ecore.generated_package">
    <!-- @generated DataFlowMT -->
    <package class="org.gemoc.xcapella.dataflow.xdsml.dataflowmt.capellacore.CapellacorePackage" genModel="model-gen/DataFlowMT.genmodel" uri="http://org.gemoc.xcapella.dataflow.xdsml.dataflowmt/capellacore/"/>
  </extension>
  <extension point="org.eclipse.emf.ecore.generated_package">
    <!-- @generated DataFlowMT -->
    <package class="org.gemoc.xcapella.dataflow.xdsml.dataflowmt.behavior.BehaviorPackage" genModel="model-gen/DataFlowMT.genmodel" uri="http://org.gemoc.xcapella.dataflow.xdsml.dataflowmt/behavior/"/>
  </extension>
  <extension point="org.eclipse.emf.ecore.generated_package">
    <!-- @generated DataFlowMT -->
    <package class="org.gemoc.xcapella.dataflow.xdsml.dataflowmt.capellacommon.CapellacommonPackage" genModel="model-gen/DataFlowMT.genmodel" uri="http://org.gemoc.xcapella.dataflow.xdsml.dataflowmt/capellacommon/"/>
  </extension>
  <extension point="org.eclipse.emf.ecore.generated_package">
    <!-- @generated DataFlowMT -->
    <package class="org.gemoc.xcapella.dataflow.xdsml.dataflowmt.cs.CsPackage" genModel="model-gen/DataFlowMT.genmodel" uri="http://org.gemoc.xcapella.dataflow.xdsml.dataflowmt/cs/"/>
  </extension>
  <extension point="org.eclipse.emf.ecore.generated_package">
    <!-- @generated DataFlowMT -->
    <package class="org.gemoc.xcapella.dataflow.xdsml.dataflowmt.oa.OaPackage" genModel="model-gen/DataFlowMT.genmodel" uri="http://org.gemoc.xcapella.dataflow.xdsml.dataflowmt/oa/"/>
  </extension>
  <extension point="org.eclipse.emf.ecore.generated_package">
    <!-- @generated DataFlowMT -->
    <package class="org.gemoc.xcapella.dataflow.xdsml.dataflowmt.information.InformationPackage" genModel="model-gen/DataFlowMT.genmodel" uri="http://org.gemoc.xcapella.dataflow.xdsml.dataflowmt/information/"/>
  </extension>
  <extension point="org.eclipse.emf.ecore.generated_package">
    <!-- @generated DataFlowMT -->
    <package class="org.gemoc.xcapella.dataflow.xdsml.dataflowmt.information.communication.CommunicationPackage" genModel="model-gen/DataFlowMT.genmodel" uri="http://org.gemoc.xcapella.dataflow.xdsml.dataflowmt/information/communication/"/>
  </extension>
  <extension point="org.eclipse.emf.ecore.generated_package">
    <!-- @generated DataFlowMT -->
    <package class="org.gemoc.xcapella.dataflow.xdsml.dataflowmt.information.datatype.DatatypePackage" genModel="model-gen/DataFlowMT.genmodel" uri="http://org.gemoc.xcapella.dataflow.xdsml.dataflowmt/information/datatype/"/>
  </extension>
  <extension point="org.eclipse.emf.ecore.generated_package">
    <!-- @generated DataFlowMT -->
    <package class="org.gemoc.xcapella.dataflow.xdsml.dataflowmt.information.datavalue.DatavaluePackage" genModel="model-gen/DataFlowMT.genmodel" uri="http://org.gemoc.xcapella.dataflow.xdsml.dataflowmt/information/datavalue/"/>
  </extension>
  <extension point="org.eclipse.emf.ecore.generated_package">
    <!-- @generated DataFlowMT -->
    <package class="org.gemoc.xcapella.dataflow.xdsml.dataflowmt.modellingcore.ModellingcorePackage" genModel="model-gen/DataFlowMT.genmodel" uri="http://org.gemoc.xcapella.dataflow.xdsml.dataflowmt/modellingcore/"/>
  </extension>
  <extension point="org.eclipse.emf.ecore.generated_package">
    <!-- @generated DataFlowMT -->
    <package class="org.gemoc.xcapella.dataflow.xdsml.dataflowmt.requirement.RequirementPackage" genModel="model-gen/DataFlowMT.genmodel" uri="http://org.gemoc.xcapella.dataflow.xdsml.dataflowmt/requirement/"/>
  </extension>
  <extension point="org.eclipse.emf.ecore.generated_package">
    <!-- @generated DataFlowMT -->
    <package class="org.gemoc.xcapella.dataflow.xdsml.dataflowmt.activity.ActivityPackage" genModel="model-gen/DataFlowMT.genmodel" uri="http://org.gemoc.xcapella.dataflow.xdsml.dataflowmt/activity/"/>
  </extension>
  <extension point="org.eclipse.emf.ecore.generated_package">
    <!-- @generated DataFlowMT -->
    <package class="org.gemoc.xcapella.dataflow.xdsml.dataflowmt.fa.FaPackage" genModel="model-gen/DataFlowMT.genmodel" uri="http://org.gemoc.xcapella.dataflow.xdsml.dataflowmt/fa/"/>
  </extension>
  <extension point="org.eclipse.emf.ecore.generated_package">
    <!-- @generated DataFlowMT -->
    <package class="org.gemoc.xcapella.dataflow.xdsml.dataflowmt.ctx.CtxPackage" genModel="model-gen/DataFlowMT.genmodel" uri="http://org.gemoc.xcapella.dataflow.xdsml.dataflowmt/ctx/"/>
  </extension>
  <extension point="org.eclipse.emf.ecore.generated_package">
    <!-- @generated DataFlowMT -->
    <package class="org.gemoc.xcapella.dataflow.xdsml.dataflowmt.la.LaPackage" genModel="model-gen/DataFlowMT.genmodel" uri="http://org.gemoc.xcapella.dataflow.xdsml.dataflowmt/la/"/>
  </extension>
  <extension point="org.eclipse.emf.ecore.generated_package">
    <!-- @generated DataFlowMT -->
    <package class="org.gemoc.xcapella.dataflow.xdsml.dataflowmt.sharedmodel.SharedmodelPackage" genModel="model-gen/DataFlowMT.genmodel" uri="http://org.gemoc.xcapella.dataflow.xdsml.dataflowmt/sharedmodel/"/>
  </extension>
  <extension point="org.eclipse.emf.ecore.generated_package">
    <!-- @generated DataFlowMT -->
    <package class="org.gemoc.xcapella.dataflow.xdsml.dataflowmt.capellamodeller.CapellamodellerPackage" genModel="model-gen/DataFlowMT.genmodel" uri="http://org.gemoc.xcapella.dataflow.xdsml.dataflowmt/capellamodeller/"/>
  </extension>
  <extension point="org.eclipse.emf.ecore.generated_package">
    <!-- @generated DataFlowMT -->
    <package class="org.gemoc.xcapella.dataflow.xdsml.dataflowmt.emde.EmdePackage" genModel="model-gen/DataFlowMT.genmodel" uri="http://org.gemoc.xcapella.dataflow.xdsml.dataflowmt/emde/"/>
  </extension>
  <extension point="org.eclipse.emf.ecore.generated_package">
    <!-- @generated DataFlowMT -->
    <package class="org.gemoc.xcapella.dataflow.xdsml.dataflowmt.interaction.InteractionPackage" genModel="model-gen/DataFlowMT.genmodel" uri="http://org.gemoc.xcapella.dataflow.xdsml.dataflowmt/interaction/"/>
  </extension>
  <extension point="org.eclipse.emf.ecore.generated_package">
    <!-- @generated DataFlowMT -->
    <package class="org.gemoc.xcapella.dataflow.xdsml.dataflowmt.pa.PaPackage" genModel="model-gen/DataFlowMT.genmodel" uri="http://org.gemoc.xcapella.dataflow.xdsml.dataflowmt/pa/"/>
  </extension>
  <extension point="org.eclipse.emf.ecore.generated_package">
    <!-- @generated DataFlowMT -->
    <package class="org.gemoc.xcapella.dataflow.xdsml.dataflowmt.pa.deployment.DeploymentPackage" genModel="model-gen/DataFlowMT.genmodel" uri="http://org.gemoc.xcapella.dataflow.xdsml.dataflowmt/pa/deployment/"/>
  </extension>
  <extension point="fr.inria.diverse.melange.modeltype">
    <modeltype id="org.gemoc.xcapella.dataflow.xdsml.DataFlowMT" uri="http://org.gemoc.xcapella.dataflow.xdsml.dataflowmt/"/>
  </extension>
  <extension point="fr.inria.diverse.melange.language">
    <language aspects="" entryPoints="" exactType="org.gemoc.xcapella.dataflow.xdsml.DataFlowMT" id="org.gemoc.xcapella.dataflow.xdsml.DataFlow" uri="http://org.gemoc.xcapella.dataflow.xdsml.dataflow/ctx/">
      <adapter class="org.gemoc.xcapella.dataflow.xdsml.dataflow.adapters.dataflowmt.DataFlowAdapter" modeltypeId="org.gemoc.xcapella.dataflow.xdsml.DataFlowMT"/>
    </language>
  </extension>
</plugin>
