<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
  <extension point="org.gemoc.gemoc_language_workbench.concurrent.xdsml">
    <XDSML_Definition name="dataflow" xdsmlFilePath="/org.gemoc.xcapella.dataflow.xdsml/project.xdsml" modelLoader_class="org.gemoc.gemoc_language_workbench.extensions.sirius.modelloader.DefaultModelLoader" />
  </extension>
</plugin>
