<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<extension
	     point="org.eclipse.ui.views">
	  <view
	        name="mode"
	        icon="icons/view.gif"
	        category="org.polarsys.kitalpha.view.category"
	        class="org.polarsys.kitalpha.ad.viewpoint.ui.views.ViewpointView"
	        id="com.thalesgroup.trt.mde.vp.mode.view"
	        resourceId="com.thalesgroup.trt.mde.vp.mode"/>
	</extension>
	<extension
	     point="org.polarsys.kitalpha.resourcereuse.resources">
	  <resource
	        domain="AF"
	        id="com.thalesgroup.trt.mde.vp.mode"
	        tags="vp"
	        name="mode"
	        path="/com.thalesgroup.trt.mde.vp.mode.af/model/mode.vp#_i--bAG5rEeWHKK_IhMpmlg"/>
	</extension>
	<extension 
	     point="org.eclipse.ui.propertiesView">
	 	<excludeSources
	    	id="com.thalesgroup.trt.mde.vp.mode.view">
	 	</excludeSources>
	</extension>
</plugin>

