<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

	<extension
	     point="org.polarsys.kitalpha.resourcereuse.resources">
	  <resource
	        domain="vpdsl"
	        id="com.thalesgroup.trt.mde.vp.al.vpdsl.description"
	        tags="vpdesc"
	        name="al"
	        path="/com.thalesgroup.trt.mde.vp.al.vpdsl/model/al.vpdesc"/>
	</extension>


	<extension
	     point="org.polarsys.kitalpha.resourcereuse.resources">
	  <resource
	        domain="vpdsl"
	        id="com.thalesgroup.trt.mde.vp.al.vpdsl.resource.al.spec"
	        tags="Viewpoint"
	        name="spec"
	        path="/com.thalesgroup.trt.mde.vp.al.vpdsl/model/al.spec.vptext"/>
	</extension>

	<extension
	     point="org.polarsys.kitalpha.resourcereuse.resources">
	  <resource
	        domain="vpdsl"
	        id="com.thalesgroup.trt.mde.vp.al.vpdsl.resource.al.data"
	        tags="Viewpoint"
	        name="data"
	        path="/com.thalesgroup.trt.mde.vp.al.vpdsl/model/al.data.vptext"/>
	</extension>

	<extension
	     point="org.polarsys.kitalpha.resourcereuse.resources">
	  <resource
	        domain="vpdsl"
	        id="com.thalesgroup.trt.mde.vp.al.vpdsl.resource.al.conf"
	        tags="Viewpoint"
	        name="conf"
	        path="/com.thalesgroup.trt.mde.vp.al.vpdsl/model/al.conf.vptext"/>
	</extension>
</plugin>
