<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
  <extension point="org.eclipse.sirius.componentization">
    <component class="org.gemoc.xcapella.dataflow.animator.Activator"
               id="org.gemoc.xcapella.dataflow.animator"
	       name="xCapellaDataflow">
    </component>
  </extension>
</plugin>
