<?xml version="1.0" encoding="UTF-8"?> 
<?eclipse version="3.4"?>
<plugin>
<extension
	point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
	<propertyTabs 
		contributorId="org.eclipse.sirius.diagram.ui">
			
			<propertyTab
		    	afterTab="BaseSiriusDiagram"
		        category="semantic &amp; extension"
		        id="mode_ModeMachine"
		        label="Mode">
		    </propertyTab> 
			
			<propertyTab
		    	afterTab="BaseSiriusDiagram"
		        category="semantic &amp; extension"
		        id="mode_AbstractMode"
		        label="Mode">
		    </propertyTab> 
			
			<propertyTab
		    	afterTab="BaseSiriusDiagram"
		        category="semantic &amp; extension"
		        id="mode_Mode_"
		        label="Mode">
		    </propertyTab> 
			
			<propertyTab
		    	afterTab="BaseSiriusDiagram"
		        category="semantic &amp; extension"
		        id="mode_ControlNode"
		        label="Mode">
		    </propertyTab> 
			
			<propertyTab
		    	afterTab="BaseSiriusDiagram"
		        category="semantic &amp; extension"
		        id="mode_Initial"
		        label="Mode">
		    </propertyTab> 
			
			<propertyTab
		    	afterTab="BaseSiriusDiagram"
		        category="semantic &amp; extension"
		        id="mode_Final"
		        label="Mode">
		    </propertyTab> 
			
			<propertyTab
		    	afterTab="BaseSiriusDiagram"
		        category="semantic &amp; extension"
		        id="mode_TransitionJunction"
		        label="Mode">
		    </propertyTab> 
			
			<propertyTab
		    	afterTab="BaseSiriusDiagram"
		        category="semantic &amp; extension"
		        id="mode_HistoryNode"
		        label="Mode">
		    </propertyTab> 
			
			<propertyTab
		    	afterTab="BaseSiriusDiagram"
		        category="semantic &amp; extension"
		        id="mode_Transition"
		        label="Mode">
		    </propertyTab> 
			
	</propertyTabs>
</extension> 
<extension
	point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
	<propertyTabs 
		contributorId="org.polarsys.capella.core.data.capellamodeller.properties">
			
			<propertyTab
		    	afterTab="BaseCapella"
		        category="default"
		        id="mode_ModeMachine"
		        label="Mode">
		    </propertyTab> 
			
			<propertyTab
		    	afterTab="BaseCapella"
		        category="default"
		        id="mode_AbstractMode"
		        label="Mode">
		    </propertyTab> 
			
			<propertyTab
		    	afterTab="BaseCapella"
		        category="default"
		        id="mode_Mode_"
		        label="Mode">
		    </propertyTab> 
			
			<propertyTab
		    	afterTab="BaseCapella"
		        category="default"
		        id="mode_ControlNode"
		        label="Mode">
		    </propertyTab> 
			
			<propertyTab
		    	afterTab="BaseCapella"
		        category="default"
		        id="mode_Initial"
		        label="Mode">
		    </propertyTab> 
			
			<propertyTab
		    	afterTab="BaseCapella"
		        category="default"
		        id="mode_Final"
		        label="Mode">
		    </propertyTab> 
			
			<propertyTab
		    	afterTab="BaseCapella"
		        category="default"
		        id="mode_TransitionJunction"
		        label="Mode">
		    </propertyTab> 
			
			<propertyTab
		    	afterTab="BaseCapella"
		        category="default"
		        id="mode_HistoryNode"
		        label="Mode">
		    </propertyTab> 
			
			<propertyTab
		    	afterTab="BaseCapella"
		        category="default"
		        id="mode_Transition"
		        label="Mode">
		    </propertyTab> 
			
	</propertyTabs>
</extension> 
<extension
	point="org.eclipse.ui.views.properties.tabbed.propertySections">
		<propertySections
			contributorId="org.eclipse.sirius.diagram.ui">
			<propertySection
		    	class="com.thalesgroup.trt.mde.vp.mode.ui.sections.Mode_ModeMachine_mode_ModeMachine_Section"
		        filter="com.thalesgroup.trt.mde.vp.mode.ui.sections.Mode_ModeMachine_mode_ModeMachine_Section"
		        id="mode_ModeMachine.mode_ModeMachine_Section"
		        tab="mode_ModeMachine">
		        
		    </propertySection> 
		    			<propertySection
		    	class="com.thalesgroup.trt.mde.vp.mode.ui.sections.Mode_AbstractMode_mode_AbstractMode_Section"
		        filter="com.thalesgroup.trt.mde.vp.mode.ui.sections.Mode_AbstractMode_mode_AbstractMode_Section"
		        id="mode_AbstractMode.mode_AbstractMode_Section"
		        tab="mode_AbstractMode">
		        
		    </propertySection> 
		    			<propertySection
		    	class="com.thalesgroup.trt.mde.vp.mode.ui.sections.Mode_Mode__mode_Mode__Section"
		        filter="com.thalesgroup.trt.mde.vp.mode.ui.sections.Mode_Mode__mode_Mode__Section"
		        id="mode_Mode_.mode_Mode__Section"
		        tab="mode_Mode_">
		        
		    </propertySection> 
		    			<propertySection
		    	class="com.thalesgroup.trt.mde.vp.mode.ui.sections.Mode_ControlNode_mode_ControlNode_Section"
		        filter="com.thalesgroup.trt.mde.vp.mode.ui.sections.Mode_ControlNode_mode_ControlNode_Section"
		        id="mode_ControlNode.mode_ControlNode_Section"
		        tab="mode_ControlNode">
		        
		    </propertySection> 
		    			<propertySection
		    	class="com.thalesgroup.trt.mde.vp.mode.ui.sections.Mode_Initial_mode_Initial_Section"
		        filter="com.thalesgroup.trt.mde.vp.mode.ui.sections.Mode_Initial_mode_Initial_Section"
		        id="mode_Initial.mode_Initial_Section"
		        tab="mode_Initial">
		        
		    </propertySection> 
		    			<propertySection
		    	class="com.thalesgroup.trt.mde.vp.mode.ui.sections.Mode_Final_mode_Final_Section"
		        filter="com.thalesgroup.trt.mde.vp.mode.ui.sections.Mode_Final_mode_Final_Section"
		        id="mode_Final.mode_Final_Section"
		        tab="mode_Final">
		        
		    </propertySection> 
		    			<propertySection
		    	class="com.thalesgroup.trt.mde.vp.mode.ui.sections.Mode_TransitionJunction_mode_TransitionJunction_Section"
		        filter="com.thalesgroup.trt.mde.vp.mode.ui.sections.Mode_TransitionJunction_mode_TransitionJunction_Section"
		        id="mode_TransitionJunction.mode_TransitionJunction_Section"
		        tab="mode_TransitionJunction">
		        
		    </propertySection> 
		    			<propertySection
		    	class="com.thalesgroup.trt.mde.vp.mode.ui.sections.Mode_HistoryNode_mode_HistoryNode_Section"
		        filter="com.thalesgroup.trt.mde.vp.mode.ui.sections.Mode_HistoryNode_mode_HistoryNode_Section"
		        id="mode_HistoryNode.mode_HistoryNode_Section"
		        tab="mode_HistoryNode">
		        
		    </propertySection> 
		    			<propertySection
		    	class="com.thalesgroup.trt.mde.vp.mode.ui.sections.Mode_Transition_mode_Transition_Section"
		        filter="com.thalesgroup.trt.mde.vp.mode.ui.sections.Mode_Transition_mode_Transition_Section"
		        id="mode_Transition.mode_Transition_Section"
		        tab="mode_Transition">
		        
		    </propertySection> 
		    </propertySections>
</extension>
<extension
	point="org.eclipse.ui.views.properties.tabbed.propertySections">
		<propertySections
			contributorId="org.polarsys.capella.core.data.capellamodeller.properties">
			<propertySection
		    	class="com.thalesgroup.trt.mde.vp.mode.ui.sections.Mode_ModeMachine_mode_ModeMachine_Section"
		        filter="com.thalesgroup.trt.mde.vp.mode.ui.sections.Mode_ModeMachine_mode_ModeMachine_Section"
		        id="mode_ModeMachine.mode_ModeMachine_Section"
		        tab="mode_ModeMachine">
		        
		    </propertySection> 
		    			<propertySection
		    	class="com.thalesgroup.trt.mde.vp.mode.ui.sections.Mode_AbstractMode_mode_AbstractMode_Section"
		        filter="com.thalesgroup.trt.mde.vp.mode.ui.sections.Mode_AbstractMode_mode_AbstractMode_Section"
		        id="mode_AbstractMode.mode_AbstractMode_Section"
		        tab="mode_AbstractMode">
		        
		    </propertySection> 
		    			<propertySection
		    	class="com.thalesgroup.trt.mde.vp.mode.ui.sections.Mode_Mode__mode_Mode__Section"
		        filter="com.thalesgroup.trt.mde.vp.mode.ui.sections.Mode_Mode__mode_Mode__Section"
		        id="mode_Mode_.mode_Mode__Section"
		        tab="mode_Mode_">
		        
		    </propertySection> 
		    			<propertySection
		    	class="com.thalesgroup.trt.mde.vp.mode.ui.sections.Mode_ControlNode_mode_ControlNode_Section"
		        filter="com.thalesgroup.trt.mde.vp.mode.ui.sections.Mode_ControlNode_mode_ControlNode_Section"
		        id="mode_ControlNode.mode_ControlNode_Section"
		        tab="mode_ControlNode">
		        
		    </propertySection> 
		    			<propertySection
		    	class="com.thalesgroup.trt.mde.vp.mode.ui.sections.Mode_Initial_mode_Initial_Section"
		        filter="com.thalesgroup.trt.mde.vp.mode.ui.sections.Mode_Initial_mode_Initial_Section"
		        id="mode_Initial.mode_Initial_Section"
		        tab="mode_Initial">
		        
		    </propertySection> 
		    			<propertySection
		    	class="com.thalesgroup.trt.mde.vp.mode.ui.sections.Mode_Final_mode_Final_Section"
		        filter="com.thalesgroup.trt.mde.vp.mode.ui.sections.Mode_Final_mode_Final_Section"
		        id="mode_Final.mode_Final_Section"
		        tab="mode_Final">
		        
		    </propertySection> 
		    			<propertySection
		    	class="com.thalesgroup.trt.mde.vp.mode.ui.sections.Mode_TransitionJunction_mode_TransitionJunction_Section"
		        filter="com.thalesgroup.trt.mde.vp.mode.ui.sections.Mode_TransitionJunction_mode_TransitionJunction_Section"
		        id="mode_TransitionJunction.mode_TransitionJunction_Section"
		        tab="mode_TransitionJunction">
		        
		    </propertySection> 
		    			<propertySection
		    	class="com.thalesgroup.trt.mde.vp.mode.ui.sections.Mode_HistoryNode_mode_HistoryNode_Section"
		        filter="com.thalesgroup.trt.mde.vp.mode.ui.sections.Mode_HistoryNode_mode_HistoryNode_Section"
		        id="mode_HistoryNode.mode_HistoryNode_Section"
		        tab="mode_HistoryNode">
		        
		    </propertySection> 
		    			<propertySection
		    	class="com.thalesgroup.trt.mde.vp.mode.ui.sections.Mode_Transition_mode_Transition_Section"
		        filter="com.thalesgroup.trt.mde.vp.mode.ui.sections.Mode_Transition_mode_Transition_Section"
		        id="mode_Transition.mode_Transition_Section"
		        tab="mode_Transition">
		        
		    </propertySection> 
		    </propertySections>
</extension>

 	
<extension 
	point="org.polarsys.capella.core.data.business.queries.MDEBusinessQueries">
				
	   <MDEBusinessQueries 
         class="com.thalesgroup.trt.mde.vp.mode.ui.queries.OwnedModesAssociationQuery" 
         id="com.thalesgroup.trt.mde.vp.mode.ui.queries.OwnedModesAssociationQuery"> 
   </MDEBusinessQueries> 


				
	   <MDEBusinessQueries 
         class="com.thalesgroup.trt.mde.vp.mode.ui.queries.OwnedTransitionsAssociationQuery" 
         id="com.thalesgroup.trt.mde.vp.mode.ui.queries.OwnedTransitionsAssociationQuery"> 
   </MDEBusinessQueries> 


				
	   <MDEBusinessQueries 
         class="com.thalesgroup.trt.mde.vp.mode.ui.queries.InputEventsAssociationQuery" 
         id="com.thalesgroup.trt.mde.vp.mode.ui.queries.InputEventsAssociationQuery"> 
   </MDEBusinessQueries> 


				
	   <MDEBusinessQueries 
         class="com.thalesgroup.trt.mde.vp.mode.ui.queries.InputSignalsAssociationQuery" 
         id="com.thalesgroup.trt.mde.vp.mode.ui.queries.InputSignalsAssociationQuery"> 
   </MDEBusinessQueries> 


				
	   <MDEBusinessQueries 
         class="com.thalesgroup.trt.mde.vp.mode.ui.queries.OutputEventsAssociationQuery" 
         id="com.thalesgroup.trt.mde.vp.mode.ui.queries.OutputEventsAssociationQuery"> 
   </MDEBusinessQueries> 


				
	   <MDEBusinessQueries 
         class="com.thalesgroup.trt.mde.vp.mode.ui.queries.OutputSignalsAssociationQuery" 
         id="com.thalesgroup.trt.mde.vp.mode.ui.queries.OutputSignalsAssociationQuery"> 
   </MDEBusinessQueries> 


				
	   <MDEBusinessQueries 
         class="com.thalesgroup.trt.mde.vp.mode.ui.queries.LocalClocksAssociationQuery" 
         id="com.thalesgroup.trt.mde.vp.mode.ui.queries.LocalClocksAssociationQuery"> 
   </MDEBusinessQueries> 


				
	   <MDEBusinessQueries 
         class="com.thalesgroup.trt.mde.vp.mode.ui.queries.LocalVariablesAssociationQuery" 
         id="com.thalesgroup.trt.mde.vp.mode.ui.queries.LocalVariablesAssociationQuery"> 
   </MDEBusinessQueries> 


				
	   <MDEBusinessQueries 
         class="com.thalesgroup.trt.mde.vp.mode.ui.queries.InitialAssociationQuery" 
         id="com.thalesgroup.trt.mde.vp.mode.ui.queries.InitialAssociationQuery"> 
   </MDEBusinessQueries> 


				
</extension>

		
 	
<extension 
	point="org.polarsys.capella.core.data.business.queries.MDEBusinessQueries">
				
	   <MDEBusinessQueries 
         class="com.thalesgroup.trt.mde.vp.mode.ui.queries.OutgoingTransitionsAssociationQuery" 
         id="com.thalesgroup.trt.mde.vp.mode.ui.queries.OutgoingTransitionsAssociationQuery"> 
   </MDEBusinessQueries> 


				
	   <MDEBusinessQueries 
         class="com.thalesgroup.trt.mde.vp.mode.ui.queries.IncomingTransitionsAssociationQuery" 
         id="com.thalesgroup.trt.mde.vp.mode.ui.queries.IncomingTransitionsAssociationQuery"> 
   </MDEBusinessQueries> 


				
</extension>

		
 	
<extension 
	point="org.polarsys.capella.core.data.business.queries.MDEBusinessQueries">
				
	   <MDEBusinessQueries 
         class="com.thalesgroup.trt.mde.vp.mode.ui.queries.EnterActionsAssociationQuery" 
         id="com.thalesgroup.trt.mde.vp.mode.ui.queries.EnterActionsAssociationQuery"> 
   </MDEBusinessQueries> 


				
	   <MDEBusinessQueries 
         class="com.thalesgroup.trt.mde.vp.mode.ui.queries.DoActionsAssociationQuery" 
         id="com.thalesgroup.trt.mde.vp.mode.ui.queries.DoActionsAssociationQuery"> 
   </MDEBusinessQueries> 


				
	   <MDEBusinessQueries 
         class="com.thalesgroup.trt.mde.vp.mode.ui.queries.ExitActionsAssociationQuery" 
         id="com.thalesgroup.trt.mde.vp.mode.ui.queries.ExitActionsAssociationQuery"> 
   </MDEBusinessQueries> 


				
	   <MDEBusinessQueries 
         class="com.thalesgroup.trt.mde.vp.mode.ui.queries.AvailableFunctionalChainsAssociationQuery" 
         id="com.thalesgroup.trt.mde.vp.mode.ui.queries.AvailableFunctionalChainsAssociationQuery"> 
   </MDEBusinessQueries> 


				
	   <MDEBusinessQueries 
         class="com.thalesgroup.trt.mde.vp.mode.ui.queries.SubModeMachineAssociationQuery" 
         id="com.thalesgroup.trt.mde.vp.mode.ui.queries.SubModeMachineAssociationQuery"> 
   </MDEBusinessQueries> 


				
</extension>

		
 	
<extension 
	point="org.polarsys.capella.core.data.business.queries.MDEBusinessQueries">
				
	   <MDEBusinessQueries 
         class="com.thalesgroup.trt.mde.vp.mode.ui.queries.FinalEnterActionsAssociationQuery" 
         id="com.thalesgroup.trt.mde.vp.mode.ui.queries.FinalEnterActionsAssociationQuery"> 
   </MDEBusinessQueries> 


				
</extension>

		
 	
<extension 
	point="org.polarsys.capella.core.data.business.queries.MDEBusinessQueries">
				
	   <MDEBusinessQueries 
         class="com.thalesgroup.trt.mde.vp.mode.ui.queries.SourceAssociationQuery" 
         id="com.thalesgroup.trt.mde.vp.mode.ui.queries.SourceAssociationQuery"> 
   </MDEBusinessQueries> 


				
	   <MDEBusinessQueries 
         class="com.thalesgroup.trt.mde.vp.mode.ui.queries.TargetAssociationQuery" 
         id="com.thalesgroup.trt.mde.vp.mode.ui.queries.TargetAssociationQuery"> 
   </MDEBusinessQueries> 


				
	   <MDEBusinessQueries 
         class="com.thalesgroup.trt.mde.vp.mode.ui.queries.TriggerAssociationQuery" 
         id="com.thalesgroup.trt.mde.vp.mode.ui.queries.TriggerAssociationQuery"> 
   </MDEBusinessQueries> 


				
	   <MDEBusinessQueries 
         class="com.thalesgroup.trt.mde.vp.mode.ui.queries.GuardAssociationQuery" 
         id="com.thalesgroup.trt.mde.vp.mode.ui.queries.GuardAssociationQuery"> 
   </MDEBusinessQueries> 


				
	   <MDEBusinessQueries 
         class="com.thalesgroup.trt.mde.vp.mode.ui.queries.ActionsAssociationQuery" 
         id="com.thalesgroup.trt.mde.vp.mode.ui.queries.ActionsAssociationQuery"> 
   </MDEBusinessQueries> 


				
	   <MDEBusinessQueries 
         class="com.thalesgroup.trt.mde.vp.mode.ui.queries.TimeBudgetAssociationQuery" 
         id="com.thalesgroup.trt.mde.vp.mode.ui.queries.TimeBudgetAssociationQuery"> 
   </MDEBusinessQueries> 


				
	   <MDEBusinessQueries 
         class="com.thalesgroup.trt.mde.vp.mode.ui.queries.GeneratedEventsAssociationQuery" 
         id="com.thalesgroup.trt.mde.vp.mode.ui.queries.GeneratedEventsAssociationQuery"> 
   </MDEBusinessQueries> 


				
</extension>

		</plugin>