<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>



<plugin>

   
<!--@generated-->
  <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <factory class="com.thalesgroup.trt.mde.vp.al.al.provider.AlItemProviderAdapterFactory" supportedTypes="org.eclipse.emf.edit.provider.IEditingDomainItemProvider                org.eclipse.emf.edit.provider.IStructuredItemContentProvider                org.eclipse.emf.edit.provider.ITreeItemContentProvider                org.eclipse.emf.edit.provider.IItemLabelProvider                org.eclipse.emf.edit.provider.IItemPropertySource" uri="http://www.thalesgroup.com/trt/al/1.0.0"/>
   </extension>

   
<!--@generated-->
  <extension point="org.eclipse.emf.edit.childCreationExtenders">
      <extender class="com.thalesgroup.trt.mde.vp.al.al.provider.AlItemProviderAdapterFactory$SharedmodelChildCreationExtender" uri="http://www.polarsys.org/capella/core/sharedmodel/0.8.0"/>
   </extension>


<!--@generated-->
  <extension point="org.polarsys.capella.common.menu.dynamic.MDEMenuItemContribution">
</extension>

<!--@generated-->
  <extension point="org.eclipse.ui.views.properties.tabbed.propertySections">
    <propertySections contributorId="org.polarsys.capella.core.data.capellamodeller.properties">
        <propertySection class="org.polarsys.capella.core.data.core.properties.sections.DefaultNamedElementSection" filter="com.thalesgroup.trt.mde.vp.al.al.provider.sections.ActionInputSection" id="com.thalesgroup.trt.mde.vp.al.al.provider.contributions.ActionInputItemContribution.section" tab="Base">
            <input type="com.thalesgroup.trt.mde.vp.al.al.ActionInput"/>
        </propertySection>
        <propertySection class="org.polarsys.capella.core.data.core.properties.sections.DefaultNamedElementSection" filter="com.thalesgroup.trt.mde.vp.al.al.provider.sections.ActionValueInputSection" id="com.thalesgroup.trt.mde.vp.al.al.provider.contributions.ActionValueInputItemContribution.section" tab="Base">
            <input type="com.thalesgroup.trt.mde.vp.al.al.ActionValueInput"/>
        </propertySection>
        <propertySection class="org.polarsys.capella.core.data.core.properties.sections.DefaultNamedElementSection" filter="com.thalesgroup.trt.mde.vp.al.al.provider.sections.ActionOutputSection" id="com.thalesgroup.trt.mde.vp.al.al.provider.contributions.ActionOutputItemContribution.section" tab="Base">
            <input type="com.thalesgroup.trt.mde.vp.al.al.ActionOutput"/>
        </propertySection>
        <propertySection class="org.polarsys.capella.core.data.core.properties.sections.DefaultNamedElementSection" filter="com.thalesgroup.trt.mde.vp.al.al.provider.sections.ActionValueOutputSection" id="com.thalesgroup.trt.mde.vp.al.al.provider.contributions.ActionValueOutputItemContribution.section" tab="Base">
            <input type="com.thalesgroup.trt.mde.vp.al.al.ActionValueOutput"/>
        </propertySection>
        <propertySection class="org.polarsys.capella.core.data.core.properties.sections.DefaultNamedElementSection" filter="com.thalesgroup.trt.mde.vp.al.al.provider.sections.ActionSection" id="com.thalesgroup.trt.mde.vp.al.al.provider.contributions.ActionItemContribution.section" tab="Base">
            <input type="com.thalesgroup.trt.mde.vp.al.al.Action"/>
        </propertySection>
        <propertySection class="org.polarsys.capella.core.data.core.properties.sections.DefaultNamedElementSection" filter="com.thalesgroup.trt.mde.vp.al.al.provider.sections.CallBehaviorActionSection" id="com.thalesgroup.trt.mde.vp.al.al.provider.contributions.CallBehaviorActionItemContribution.section" tab="Base">
            <input type="com.thalesgroup.trt.mde.vp.al.al.CallBehaviorAction"/>
        </propertySection>
        <propertySection class="org.polarsys.capella.core.data.core.properties.sections.DefaultNamedElementSection" filter="com.thalesgroup.trt.mde.vp.al.al.provider.sections.SendEventActionSection" id="com.thalesgroup.trt.mde.vp.al.al.provider.contributions.SendEventActionItemContribution.section" tab="Base">
            <input type="com.thalesgroup.trt.mde.vp.al.al.SendEventAction"/>
        </propertySection>
        <propertySection class="org.polarsys.capella.core.data.core.properties.sections.DefaultNamedElementSection" filter="com.thalesgroup.trt.mde.vp.al.al.provider.sections.BroadcastEventActionSection" id="com.thalesgroup.trt.mde.vp.al.al.provider.contributions.BroadcastEventActionItemContribution.section" tab="Base">
            <input type="com.thalesgroup.trt.mde.vp.al.al.BroadcastEventAction"/>
        </propertySection>
        <propertySection class="org.polarsys.capella.core.data.core.properties.sections.DefaultNamedElementSection" filter="com.thalesgroup.trt.mde.vp.al.al.provider.sections.SendCommunicationActionSection" id="com.thalesgroup.trt.mde.vp.al.al.provider.contributions.SendCommunicationActionItemContribution.section" tab="Base">
            <input type="com.thalesgroup.trt.mde.vp.al.al.SendCommunicationAction"/>
        </propertySection>
        <propertySection class="org.polarsys.capella.core.data.core.properties.sections.DefaultNamedElementSection" filter="com.thalesgroup.trt.mde.vp.al.al.provider.sections.BroadcastCommunicationActionSection" id="com.thalesgroup.trt.mde.vp.al.al.provider.contributions.BroadcastCommunicationActionItemContribution.section" tab="Base">
            <input type="com.thalesgroup.trt.mde.vp.al.al.BroadcastCommunicationAction"/>
        </propertySection>
        <propertySection class="org.polarsys.capella.core.data.core.properties.sections.DefaultNamedElementSection" filter="com.thalesgroup.trt.mde.vp.al.al.provider.sections.CreateValueActionSection" id="com.thalesgroup.trt.mde.vp.al.al.provider.contributions.CreateValueActionItemContribution.section" tab="Base">
            <input type="com.thalesgroup.trt.mde.vp.al.al.CreateValueAction"/>
        </propertySection>
        <propertySection class="org.polarsys.capella.core.data.core.properties.sections.DefaultNamedElementSection" filter="com.thalesgroup.trt.mde.vp.al.al.provider.sections.ReadValueActionSection" id="com.thalesgroup.trt.mde.vp.al.al.provider.contributions.ReadValueActionItemContribution.section" tab="Base">
            <input type="com.thalesgroup.trt.mde.vp.al.al.ReadValueAction"/>
        </propertySection>
        <propertySection class="org.polarsys.capella.core.data.core.properties.sections.DefaultNamedElementSection" filter="com.thalesgroup.trt.mde.vp.al.al.provider.sections.UpdateValueActionSection" id="com.thalesgroup.trt.mde.vp.al.al.provider.contributions.UpdateValueActionItemContribution.section" tab="Base">
            <input type="com.thalesgroup.trt.mde.vp.al.al.UpdateValueAction"/>
        </propertySection>
        <propertySection class="org.polarsys.capella.core.data.core.properties.sections.DefaultNamedElementSection" filter="com.thalesgroup.trt.mde.vp.al.al.provider.sections.DeleteValueActionSection" id="com.thalesgroup.trt.mde.vp.al.al.provider.contributions.DeleteValueActionItemContribution.section" tab="Base">
            <input type="com.thalesgroup.trt.mde.vp.al.al.DeleteValueAction"/>
        </propertySection>
</propertySections>
    </extension>

<!--@generated-->
  <extension point="org.eclipse.ui.views.properties.tabbed.propertySections">
    <propertySections contributorId="org.eclipse.sirius.diagram.ui">
        <propertySection class="com.thalesgroup.trt.mde.vp.al.al.provider.sections.ActionInputSection" filter="com.thalesgroup.trt.mde.vp.al.al.provider.sections.ActionInputSection" id="com.thalesgroup.trt.mde.vp.al.al.provider.sections.ActionInputSection.section" tab="Base">
        </propertySection>
        <propertySection class="org.polarsys.capella.core.data.core.properties.sections.DefaultNamedElementSection" filter="com.thalesgroup.trt.mde.vp.al.al.provider.sections.ActionValueInputSection" id="com.thalesgroup.trt.mde.vp.al.al.provider.sections.ActionValueInputSection.section" tab="Base">
        </propertySection>
        <propertySection class="com.thalesgroup.trt.mde.vp.al.al.provider.sections.ActionOutputSection" filter="com.thalesgroup.trt.mde.vp.al.al.provider.sections.ActionOutputSection" id="com.thalesgroup.trt.mde.vp.al.al.provider.sections.ActionOutputSection.section" tab="Base">
        </propertySection>
        <propertySection class="org.polarsys.capella.core.data.core.properties.sections.DefaultNamedElementSection" filter="com.thalesgroup.trt.mde.vp.al.al.provider.sections.ActionValueOutputSection" id="com.thalesgroup.trt.mde.vp.al.al.provider.sections.ActionValueOutputSection.section" tab="Base">
        </propertySection>
        <propertySection class="com.thalesgroup.trt.mde.vp.al.al.provider.sections.ActionSection" filter="com.thalesgroup.trt.mde.vp.al.al.provider.sections.ActionSection" id="com.thalesgroup.trt.mde.vp.al.al.provider.sections.ActionSection.section" tab="Base">
        </propertySection>
        <propertySection class="org.polarsys.capella.core.data.core.properties.sections.DefaultNamedElementSection" filter="com.thalesgroup.trt.mde.vp.al.al.provider.sections.CallBehaviorActionSection" id="com.thalesgroup.trt.mde.vp.al.al.provider.sections.CallBehaviorActionSection.section" tab="Base">
        </propertySection>
        <propertySection class="org.polarsys.capella.core.data.core.properties.sections.DefaultNamedElementSection" filter="com.thalesgroup.trt.mde.vp.al.al.provider.sections.SendEventActionSection" id="com.thalesgroup.trt.mde.vp.al.al.provider.sections.SendEventActionSection.section" tab="Base">
        </propertySection>
        <propertySection class="org.polarsys.capella.core.data.core.properties.sections.DefaultNamedElementSection" filter="com.thalesgroup.trt.mde.vp.al.al.provider.sections.BroadcastEventActionSection" id="com.thalesgroup.trt.mde.vp.al.al.provider.sections.BroadcastEventActionSection.section" tab="Base">
        </propertySection>
        <propertySection class="org.polarsys.capella.core.data.core.properties.sections.DefaultNamedElementSection" filter="com.thalesgroup.trt.mde.vp.al.al.provider.sections.SendCommunicationActionSection" id="com.thalesgroup.trt.mde.vp.al.al.provider.sections.SendCommunicationActionSection.section" tab="Base">
        </propertySection>
        <propertySection class="org.polarsys.capella.core.data.core.properties.sections.DefaultNamedElementSection" filter="com.thalesgroup.trt.mde.vp.al.al.provider.sections.BroadcastCommunicationActionSection" id="com.thalesgroup.trt.mde.vp.al.al.provider.sections.BroadcastCommunicationActionSection.section" tab="Base">
        </propertySection>
        <propertySection class="org.polarsys.capella.core.data.core.properties.sections.DefaultNamedElementSection" filter="com.thalesgroup.trt.mde.vp.al.al.provider.sections.CreateValueActionSection" id="com.thalesgroup.trt.mde.vp.al.al.provider.sections.CreateValueActionSection.section" tab="Base">
        </propertySection>
        <propertySection class="org.polarsys.capella.core.data.core.properties.sections.DefaultNamedElementSection" filter="com.thalesgroup.trt.mde.vp.al.al.provider.sections.ReadValueActionSection" id="com.thalesgroup.trt.mde.vp.al.al.provider.sections.ReadValueActionSection.section" tab="Base">
        </propertySection>
        <propertySection class="org.polarsys.capella.core.data.core.properties.sections.DefaultNamedElementSection" filter="com.thalesgroup.trt.mde.vp.al.al.provider.sections.UpdateValueActionSection" id="com.thalesgroup.trt.mde.vp.al.al.provider.sections.UpdateValueActionSection.section" tab="Base">
        </propertySection>
        <propertySection class="org.polarsys.capella.core.data.core.properties.sections.DefaultNamedElementSection" filter="com.thalesgroup.trt.mde.vp.al.al.provider.sections.DeleteValueActionSection" id="com.thalesgroup.trt.mde.vp.al.al.provider.sections.DeleteValueActionSection.section" tab="Base">
        </propertySection>
</propertySections>
    </extension>
</plugin>
