<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
  <extension point="org.eclipse.gemoc.gemoc_language_workbench.concurrent.xdsml">
    <XDSML_Definition codeExecutor_class="modemachine.xdsml.api.impl.ModeMachineCodeExecutor" modelLoader_class="org.eclipse.gemoc.executionframework.extensions.sirius.modelloader.DefaultModelLoader" name="com.thalesgroup.trt.mocc.modemachine.xdsml.ModeMachine" solver_class="org.eclipse.gemoc.execution.concurrent.ccsljavaengine.extensions.timesquare.moc.impl.CcslSolver" toCCSLQVTOFilePath="/com.thalesgroup.trt.mocc.modemachine.dse/qvto-gen/modeling/modemachine.qvto" xdsmlFilePath="/com.thalesgroup.trt.mocc.modemachine.xdsml/src/main/xdsml/xcapella_modeMachine.melange" />
  </extension>
</plugin>
