<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
  <extension point="org.gemoc.gemoc_language_workbench.concurrent.xdsml">
    <XDSML_Definition name="modemachine" xdsmlFilePath="/com.thalesgroup.trt.mocc.modemachine.xdsml/project.xdsml" codeExecutor_class="modemachine.xdsml.api.impl.ModemachineCodeExecutor" toCCSLQVTOFilePath="/com.thalesgroup.trt.mocc.modemachine.dse/qvto-gen/modeling/modemachine.qvto" solver_class="org.gemoc.gemoc_language_workbench.extensions.timesquare.moc.impl.CcslSolver" modelLoader_class="org.gemoc.gemoc_language_workbench.extensions.sirius.modelloader.DefaultModelLoader" />
  </extension>
</plugin>
