<?xml version="1.0" encoding="UTF-8"?> 
<?eclipse version="3.4"?>
<plugin>
<extension
	point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
	<propertyTabs 
		contributorId="org.eclipse.sirius.diagram.ui">
			
			<propertyTab
		    	afterTab="BaseSiriusDiagram"
		        category="semantic &amp; extension"
		        id="configuration_Configurations"
		        label="Configuration">
		    </propertyTab> 
			
			<propertyTab
		    	afterTab="BaseSiriusDiagram"
		        category="semantic &amp; extension"
		        id="configuration_SystemConfiguration"
		        label="Configuration">
		    </propertyTab> 
			
			<propertyTab
		    	afterTab="BaseSiriusDiagram"
		        category="semantic &amp; extension"
		        id="configuration_ComponentConfiguration"
		        label="Configuration">
		    </propertyTab> 
			
			<propertyTab
		    	afterTab="BaseSiriusDiagram"
		        category="semantic &amp; extension"
		        id="configuration_Deployment"
		        label="Configuration">
		    </propertyTab> 
			
			<propertyTab
		    	afterTab="BaseSiriusDiagram"
		        category="semantic &amp; extension"
		        id="configuration_ParameterValue"
		        label="Configuration">
		    </propertyTab> 
			
			<propertyTab
		    	afterTab="BaseSiriusDiagram"
		        category="semantic &amp; extension"
		        id="configuration_ConfigurationPort"
		        label="Configuration">
		    </propertyTab> 
			
	</propertyTabs>
</extension> 
<extension
	point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
	<propertyTabs 
		contributorId="org.polarsys.capella.core.data.capellamodeller.properties">
			
			<propertyTab
		    	afterTab="BaseCapella"
		        category="default"
		        id="configuration_Configurations"
		        label="Configuration">
		    </propertyTab> 
			
			<propertyTab
		    	afterTab="BaseCapella"
		        category="default"
		        id="configuration_SystemConfiguration"
		        label="Configuration">
		    </propertyTab> 
			
			<propertyTab
		    	afterTab="BaseCapella"
		        category="default"
		        id="configuration_ComponentConfiguration"
		        label="Configuration">
		    </propertyTab> 
			
			<propertyTab
		    	afterTab="BaseCapella"
		        category="default"
		        id="configuration_Deployment"
		        label="Configuration">
		    </propertyTab> 
			
			<propertyTab
		    	afterTab="BaseCapella"
		        category="default"
		        id="configuration_ParameterValue"
		        label="Configuration">
		    </propertyTab> 
			
			<propertyTab
		    	afterTab="BaseCapella"
		        category="default"
		        id="configuration_ConfigurationPort"
		        label="Configuration">
		    </propertyTab> 
			
	</propertyTabs>
</extension> 
<extension
	point="org.eclipse.ui.views.properties.tabbed.propertySections">
		<propertySections
			contributorId="org.eclipse.sirius.diagram.ui">
			<propertySection
		    	class="com.thalesgroup.trt.mde.vp.configuration.ui.sections.Configuration_Configurations_configuration_Configurations_Section"
		        filter="com.thalesgroup.trt.mde.vp.configuration.ui.sections.Configuration_Configurations_configuration_Configurations_Section"
		        id="configuration_Configurations.configuration_Configurations_Section"
		        tab="configuration_Configurations">
		        
		    </propertySection> 
		    			<propertySection
		    	class="com.thalesgroup.trt.mde.vp.configuration.ui.sections.Configuration_SystemConfiguration_configuration_SystemConfiguration_Section"
		        filter="com.thalesgroup.trt.mde.vp.configuration.ui.sections.Configuration_SystemConfiguration_configuration_SystemConfiguration_Section"
		        id="configuration_SystemConfiguration.configuration_SystemConfiguration_Section"
		        tab="configuration_SystemConfiguration">
		        
		    </propertySection> 
		    			<propertySection
		    	class="com.thalesgroup.trt.mde.vp.configuration.ui.sections.Configuration_ComponentConfiguration_configuration_ComponentConfiguration_Section"
		        filter="com.thalesgroup.trt.mde.vp.configuration.ui.sections.Configuration_ComponentConfiguration_configuration_ComponentConfiguration_Section"
		        id="configuration_ComponentConfiguration.configuration_ComponentConfiguration_Section"
		        tab="configuration_ComponentConfiguration">
		        
		    </propertySection> 
		    			<propertySection
		    	class="com.thalesgroup.trt.mde.vp.configuration.ui.sections.Configuration_Deployment_configuration_Deployment_Section"
		        filter="com.thalesgroup.trt.mde.vp.configuration.ui.sections.Configuration_Deployment_configuration_Deployment_Section"
		        id="configuration_Deployment.configuration_Deployment_Section"
		        tab="configuration_Deployment">
		        
		    </propertySection> 
		    			<propertySection
		    	class="com.thalesgroup.trt.mde.vp.configuration.ui.sections.Configuration_ParameterValue_configuration_ParameterValue_Section"
		        filter="com.thalesgroup.trt.mde.vp.configuration.ui.sections.Configuration_ParameterValue_configuration_ParameterValue_Section"
		        id="configuration_ParameterValue.configuration_ParameterValue_Section"
		        tab="configuration_ParameterValue">
		        
		    </propertySection> 
		    			<propertySection
		    	class="com.thalesgroup.trt.mde.vp.configuration.ui.sections.Configuration_ConfigurationPort_configuration_ConfigurationPort_Section"
		        filter="com.thalesgroup.trt.mde.vp.configuration.ui.sections.Configuration_ConfigurationPort_configuration_ConfigurationPort_Section"
		        id="configuration_ConfigurationPort.configuration_ConfigurationPort_Section"
		        tab="configuration_ConfigurationPort">
		        
		    </propertySection> 
		    </propertySections>
</extension>
<extension
	point="org.eclipse.ui.views.properties.tabbed.propertySections">
		<propertySections
			contributorId="org.polarsys.capella.core.data.capellamodeller.properties">
			<propertySection
		    	class="com.thalesgroup.trt.mde.vp.configuration.ui.sections.Configuration_Configurations_configuration_Configurations_Section"
		        filter="com.thalesgroup.trt.mde.vp.configuration.ui.sections.Configuration_Configurations_configuration_Configurations_Section"
		        id="configuration_Configurations.configuration_Configurations_Section"
		        tab="configuration_Configurations">
		        
		    </propertySection> 
		    			<propertySection
		    	class="com.thalesgroup.trt.mde.vp.configuration.ui.sections.Configuration_SystemConfiguration_configuration_SystemConfiguration_Section"
		        filter="com.thalesgroup.trt.mde.vp.configuration.ui.sections.Configuration_SystemConfiguration_configuration_SystemConfiguration_Section"
		        id="configuration_SystemConfiguration.configuration_SystemConfiguration_Section"
		        tab="configuration_SystemConfiguration">
		        
		    </propertySection> 
		    			<propertySection
		    	class="com.thalesgroup.trt.mde.vp.configuration.ui.sections.Configuration_ComponentConfiguration_configuration_ComponentConfiguration_Section"
		        filter="com.thalesgroup.trt.mde.vp.configuration.ui.sections.Configuration_ComponentConfiguration_configuration_ComponentConfiguration_Section"
		        id="configuration_ComponentConfiguration.configuration_ComponentConfiguration_Section"
		        tab="configuration_ComponentConfiguration">
		        
		    </propertySection> 
		    			<propertySection
		    	class="com.thalesgroup.trt.mde.vp.configuration.ui.sections.Configuration_Deployment_configuration_Deployment_Section"
		        filter="com.thalesgroup.trt.mde.vp.configuration.ui.sections.Configuration_Deployment_configuration_Deployment_Section"
		        id="configuration_Deployment.configuration_Deployment_Section"
		        tab="configuration_Deployment">
		        
		    </propertySection> 
		    			<propertySection
		    	class="com.thalesgroup.trt.mde.vp.configuration.ui.sections.Configuration_ParameterValue_configuration_ParameterValue_Section"
		        filter="com.thalesgroup.trt.mde.vp.configuration.ui.sections.Configuration_ParameterValue_configuration_ParameterValue_Section"
		        id="configuration_ParameterValue.configuration_ParameterValue_Section"
		        tab="configuration_ParameterValue">
		        
		    </propertySection> 
		    			<propertySection
		    	class="com.thalesgroup.trt.mde.vp.configuration.ui.sections.Configuration_ConfigurationPort_configuration_ConfigurationPort_Section"
		        filter="com.thalesgroup.trt.mde.vp.configuration.ui.sections.Configuration_ConfigurationPort_configuration_ConfigurationPort_Section"
		        id="configuration_ConfigurationPort.configuration_ConfigurationPort_Section"
		        tab="configuration_ConfigurationPort">
		        
		    </propertySection> 
		    </propertySections>
</extension>

 	
<extension 
	point="org.polarsys.capella.core.data.business.queries.MDEBusinessQueries">
				
	   <MDEBusinessQueries 
         class="com.thalesgroup.trt.mde.vp.configuration.ui.queries.SystemConfigurationsAssociationQuery" 
         id="com.thalesgroup.trt.mde.vp.configuration.ui.queries.SystemConfigurationsAssociationQuery"> 
   </MDEBusinessQueries> 


				
	   <MDEBusinessQueries 
         class="com.thalesgroup.trt.mde.vp.configuration.ui.queries.ComponentConfigurationsAssociationQuery" 
         id="com.thalesgroup.trt.mde.vp.configuration.ui.queries.ComponentConfigurationsAssociationQuery"> 
   </MDEBusinessQueries> 


				
</extension>

		
 	
<extension 
	point="org.polarsys.capella.core.data.business.queries.MDEBusinessQueries">
				
	   <MDEBusinessQueries 
         class="com.thalesgroup.trt.mde.vp.configuration.ui.queries.DeploymentAssociationQuery" 
         id="com.thalesgroup.trt.mde.vp.configuration.ui.queries.DeploymentAssociationQuery"> 
   </MDEBusinessQueries> 


				
	   <MDEBusinessQueries 
         class="com.thalesgroup.trt.mde.vp.configuration.ui.queries.SupportedModesAssociationQuery" 
         id="com.thalesgroup.trt.mde.vp.configuration.ui.queries.SupportedModesAssociationQuery"> 
   </MDEBusinessQueries> 


				
	   <MDEBusinessQueries 
         class="com.thalesgroup.trt.mde.vp.configuration.ui.queries.ComponentSystemConfigurationsAssociationQuery" 
         id="com.thalesgroup.trt.mde.vp.configuration.ui.queries.ComponentSystemConfigurationsAssociationQuery"> 
   </MDEBusinessQueries> 


				
	   <MDEBusinessQueries 
         class="com.thalesgroup.trt.mde.vp.configuration.ui.queries.AvailableFunctionsAssociationQuery" 
         id="com.thalesgroup.trt.mde.vp.configuration.ui.queries.AvailableFunctionsAssociationQuery"> 
   </MDEBusinessQueries> 


				
	   <MDEBusinessQueries 
         class="com.thalesgroup.trt.mde.vp.configuration.ui.queries.AvailableComponentsAssociationQuery" 
         id="com.thalesgroup.trt.mde.vp.configuration.ui.queries.AvailableComponentsAssociationQuery"> 
   </MDEBusinessQueries> 


				
</extension>

		
 	
<extension 
	point="org.polarsys.capella.core.data.business.queries.MDEBusinessQueries">
				
	   <MDEBusinessQueries 
         class="com.thalesgroup.trt.mde.vp.configuration.ui.queries.ComponentAssociationQuery" 
         id="com.thalesgroup.trt.mde.vp.configuration.ui.queries.ComponentAssociationQuery"> 
   </MDEBusinessQueries> 


				
	   <MDEBusinessQueries 
         class="com.thalesgroup.trt.mde.vp.configuration.ui.queries.ComponentParametersAssociationQuery" 
         id="com.thalesgroup.trt.mde.vp.configuration.ui.queries.ComponentParametersAssociationQuery"> 
   </MDEBusinessQueries> 


				
	   <MDEBusinessQueries 
         class="com.thalesgroup.trt.mde.vp.configuration.ui.queries.ComponentComponentConfigurationsAssociationQuery" 
         id="com.thalesgroup.trt.mde.vp.configuration.ui.queries.ComponentComponentConfigurationsAssociationQuery"> 
   </MDEBusinessQueries> 


				
</extension>

		
 	
<extension 
	point="org.polarsys.capella.core.data.business.queries.MDEBusinessQueries">
				
	   <MDEBusinessQueries 
         class="com.thalesgroup.trt.mde.vp.configuration.ui.queries.DeploymentLinksAssociationQuery" 
         id="com.thalesgroup.trt.mde.vp.configuration.ui.queries.DeploymentLinksAssociationQuery"> 
   </MDEBusinessQueries> 


				
</extension>

		
 	
<extension 
	point="org.polarsys.capella.core.data.business.queries.MDEBusinessQueries">
				
	   <MDEBusinessQueries 
         class="com.thalesgroup.trt.mde.vp.configuration.ui.queries.PortAssociationQuery" 
         id="com.thalesgroup.trt.mde.vp.configuration.ui.queries.PortAssociationQuery"> 
   </MDEBusinessQueries> 


				
	   <MDEBusinessQueries 
         class="com.thalesgroup.trt.mde.vp.configuration.ui.queries.ValueAssociationQuery" 
         id="com.thalesgroup.trt.mde.vp.configuration.ui.queries.ValueAssociationQuery"> 
   </MDEBusinessQueries> 


				
</extension>

		</plugin>