<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

	<extension
	     point="org.polarsys.kitalpha.resourcereuse.resources">
	  <resource
	        domain="vpdsl"
	        id="com.thalesgroup.trt.mde.vp.mode.vpdsl.description"
	        tags="vpdesc"
	        name="mode"
	        path="/com.thalesgroup.trt.mde.vp.mode.vpdsl/model/mode.vpdesc"/>
	</extension>


	<extension
	     point="org.polarsys.kitalpha.resourcereuse.resources">
	  <resource
	        domain="vpdsl"
	        id="com.thalesgroup.trt.mde.vp.mode.vpdsl.resource.mode.spec"
	        tags="Viewpoint"
	        name="spec"
	        path="/com.thalesgroup.trt.mde.vp.mode.vpdsl/model/mode.spec.vptext"/>
	</extension>

	<extension
	     point="org.polarsys.kitalpha.resourcereuse.resources">
	  <resource
	        domain="vpdsl"
	        id="com.thalesgroup.trt.mde.vp.mode.vpdsl.resource.mode.data"
	        tags="Viewpoint"
	        name="data"
	        path="/com.thalesgroup.trt.mde.vp.mode.vpdsl/model/mode.data.vptext"/>
	</extension>

	<extension
	     point="org.polarsys.kitalpha.resourcereuse.resources">
	  <resource
	        domain="vpdsl"
	        id="com.thalesgroup.trt.mde.vp.mode.vpdsl.resource.mode.conf"
	        tags="Viewpoint"
	        name="conf"
	        path="/com.thalesgroup.trt.mde.vp.mode.vpdsl/model/mode.conf.vptext"/>
	</extension>

	<extension
	     point="org.polarsys.kitalpha.resourcereuse.resources">
	  <resource
	        domain="vpdsl"
	        id="com.thalesgroup.trt.mde.vp.mode.vpdsl.resource.mode.diagram"
	        tags="Viewpoint"
	        name="diagram"
	        path="/com.thalesgroup.trt.mde.vp.mode.vpdsl/model/mode.diagram.vptext"/>
	</extension>

	<extension
	     point="org.polarsys.kitalpha.resourcereuse.resources">
	  <resource
	        domain="vpdsl"
	        id="com.thalesgroup.trt.mde.vp.mode.vpdsl.resource.mode.ui"
	        tags="Viewpoint"
	        name="ui"
	        path="/com.thalesgroup.trt.mde.vp.mode.vpdsl/model/mode.ui.vptext"/>
	</extension>
</plugin>