<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
  <extension point="org.eclipse.sirius.componentization">
    <component class="com.thalesgroup.trt.gemoc.modeautomata.animation.Activator"
               id="com.thalesgroup.trt.gemoc.modeautomata.animation"
	       name="animation">
    </component>
  </extension>
</plugin>
