<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

	<extension
	     point="org.polarsys.kitalpha.resourcereuse.resources">
	  <resource
	        domain="vpdsl"
	        id="com.thalesgroup.trt.mde.vp.expression.vpdsl.description"
	        tags="vpdesc"
	        name="expression"
	        path="/com.thalesgroup.trt.mde.vp.expression.vpdsl/model/expression.vpdesc"/>
	</extension>
	
	<extension
	     point="org.polarsys.kitalpha.resourcereuse.resources">
	  <resource
	        domain="vpdsl"
	        id="com.thalesgroup.trt.mde.vp.expression.vpdsl.resource.expression.spec"
	        tags="Viewpoint"
	        name="spec"
	        path="/com.thalesgroup.trt.mde.vp.expression.vpdsl/model/expression.spec.vptext"/>
	</extension>
	
	<extension
	     point="org.polarsys.kitalpha.resourcereuse.resources">
	  <resource
	        domain="vpdsl"
	        id="com.thalesgroup.trt.mde.vp.expression.vpdsl.resource.expression.conf"
	        tags="Viewpoint"
	        name="conf"
	        path="/com.thalesgroup.trt.mde.vp.expression.vpdsl/model/expression.conf.vptext"/>
	</extension>
	
	<extension
	     point="org.polarsys.kitalpha.resourcereuse.resources">
	  <resource
	        domain="vpdsl"
	        id="com.thalesgroup.trt.mde.vp.expression.vpdsl.resource.expression.data"
	        tags="Viewpoint"
	        name="data"
	        path="/com.thalesgroup.trt.mde.vp.expression.vpdsl/model/expression.data.vptext"/>
	</extension>
</plugin>
