<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

	<extension
	     point="org.polarsys.kitalpha.resourcereuse.resources">
	  <resource
	        domain="vpdsl"
	        id="com.thalesgroup.trt.mde.vp.configuration.vpdsl.description"
	        tags="vpdesc"
	        name="configuration"
	        path="/com.thalesgroup.trt.mde.vp.configuration.vpdsl/model/configuration.vpdesc"/>
	</extension>


	<extension
	     point="org.polarsys.kitalpha.resourcereuse.resources">
	  <resource
	        domain="vpdsl"
	        id="com.thalesgroup.trt.mde.vp.configuration.vpdsl.resource.configuration.spec"
	        tags="Viewpoint"
	        name="spec"
	        path="/com.thalesgroup.trt.mde.vp.configuration.vpdsl/model/configuration.spec.vptext"/>
	</extension>

	<extension
	     point="org.polarsys.kitalpha.resourcereuse.resources">
	  <resource
	        domain="vpdsl"
	        id="com.thalesgroup.trt.mde.vp.configuration.vpdsl.resource.configuration.data"
	        tags="Viewpoint"
	        name="data"
	        path="/com.thalesgroup.trt.mde.vp.configuration.vpdsl/model/configuration.data.vptext"/>
	</extension>

	<extension
	     point="org.polarsys.kitalpha.resourcereuse.resources">
	  <resource
	        domain="vpdsl"
	        id="com.thalesgroup.trt.mde.vp.configuration.vpdsl.resource.configuration.conf"
	        tags="Viewpoint"
	        name="conf"
	        path="/com.thalesgroup.trt.mde.vp.configuration.vpdsl/model/configuration.conf.vptext"/>
	</extension>

	<extension
	     point="org.polarsys.kitalpha.resourcereuse.resources">
	  <resource
	        domain="vpdsl"
	        id="com.thalesgroup.trt.mde.vp.configuration.vpdsl.resource.configuration.ui"
	        tags="Viewpoint"
	        name="ui"
	        path="/com.thalesgroup.trt.mde.vp.configuration.vpdsl/model/configuration.ui.vptext"/>
	</extension>
</plugin>