.center, .machine, .machine .canvas .header .programmer:before, .machine .canvas .header .led:before {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.machine {
  width: 260px;
  height: 400px;
}
.machine .above {
  width: 230px;
  height: 30px;
  margin: 0 auto -5px auto;
  border-radius: 20px;
  -webkit-perspective: 100px;
  perspective: 100px;
}
.machine .above:before {
  content: "";
  display: block;
  width: 220px;
  height: 30px;
  border: solid 12px #0e1988;
  border-bottom: none;
  -webkit-transform: rotateX(40deg);
          transform: rotateX(40deg);
  border-radius: 20px;
  background: #deedfe;
}
.machine .canvas {
  width: 260px;
  height: 355px;
  border: solid 8px #0e1988;
  border-radius: 20px;
  overflow: visible;
  background: #d4e4fd;
  box-shadow: inset 0 -12px #c2defd;
  position: relative;
}
.machine .canvas .header {
  width: 100%;
  height: 80px;
  background: #b7d3fd;
}
.machine .canvas .header .programmer {
  position: relative;
  width: 30px;
  height: 30px;
  border: solid 8px #0e1988;
  border-radius: 100%;
  background: #6aa2f2;
  margin: 10px 0 0 20px;
  float: left;
  box-shadow: 0 5px #a3c5f9;
}
.machine .canvas .header .programmer:before {
  content: "";
  width: 15px;
  height: 15px;
  border: solid 4px #0e1988;
  border-radius: 100%;
  background: #96c1fd;
}
.machine .canvas .header .led {
  position: relative;
  width: 70px;
  height: 23px;
  border: solid 8px #0e1988;
  border-radius: 5px;
  background: #6aa2f2;
  margin: 10px 0 0 20px;
  float: left;
  box-shadow: 0 5px #a3c5f9;
}
.machine .canvas .header .led:before {
  content: "";
  width: 30px;
  height: 115%;
  background: #99d3ba;
  border-left: solid 8px #0e1988;
  border-right: solid 8px #0e1988;
}
.machine .canvas .header .buttons {
  width: 60px;
  float: right;
  margin: 10px 15px 0 0;
}
.machine .canvas .header .buttons span {
  float: right;
  display: inline-block;
  width: 13px;
  height: 3px;
  margin: 3px;
  border-radius: 30%;
  background: #96c1fd;
  border: solid 4px #0e1988;
  box-shadow: 0 3px #a3c5f9;
}
.machine .canvas .header .buttons span:nth-child(1) {
  background: #fd8185;
}
.machine .canvas .header .separator {
  width: 100%;
  height: 22px;
  float: left;
  margin-top: 5px;
}
.machine .canvas .header .separator span {
  height: 100%;
  display: block;
  float: left;
  position: relative;
  overflow: hidden;
}
.machine .canvas .header .separator span:nth-child(1) {
  width: 27%;
}
.machine .canvas .header .separator span:nth-child(1):before {
  content: "";
  width: 400px;
  height: 200px;
  border: solid 8px #0e1988;
  border-radius: 100%;
  position: absolute;
  bottom: 0;
  left: -130px;
}
.machine .canvas .header .separator span:nth-child(2) {
  width: 46%;
  margin-top: -4px;
  height: 26px;
}
.machine .canvas .header .separator span:nth-child(2):before {
  content: "";
  width: 200px;
  height: 200px;
  border: solid 8px #0e1988;
  border-radius: 100%;
  background: #d4e4fd;
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}
.machine .canvas .header .separator span:nth-child(3) {
  width: 27%;
}
.machine .canvas .header .separator span:nth-child(3):before {
  content: "";
  width: 400px;
  height: 200px;
  border: solid 8px #0e1988;
  border-radius: 100%;
  position: absolute;
  bottom: 0;
  right: -130px;
}
.machine .canvas .flare {
  position: absolute;
  top: 85px;
  left: 0;
  right: 0;
  width: 250px;
  height: 200px;
  margin: 0 auto;
}
.machine .canvas .flare span:nth-child(1) {
  float: right;
  position: relative;
  top: 10px;
  right: 30px;
  width: 20px;
  height: 20px;
  overflow: hidden;
}
.machine .canvas .flare span:nth-child(1) p {
  display: block;
  width: 120px;
  height: 120px;
  border: solid 8px #fff;
  border-radius: 100%;
  position: absolute;
  top: -30px;
  right: -15px;
}
.machine .canvas .flare span:nth-child(2) {
  float: right;
  clear: both;
  position: relative;
  top: 20px;
  right: 5px;
  width: 25px;
  height: 65px;
  overflow: hidden;
}
.machine .canvas .flare span:nth-child(2) p {
  display: block;
  width: 160px;
  height: 160px;
  border: solid 8px #fff;
  border-radius: 100%;
  position: absolute;
  top: -55px;
  right: 0;
}
.machine .canvas .opendoorbody {
  width: 140px;
  height: 140px;
  margin: 30px auto 0 auto;
  position: relative;
  box-shadow: -130px 0 0 8px #0e1988, -130px 0 0 24px #6aa2f2, -130px 0 0 32px #0e1988, 0 0 0 24px;
  border-radius: 100%;
  background: #97fff2;
  overflow: hidden;
}


.machine .canvas .body {
  width: 140px;
  height: 140px;
  margin: 30px auto 0 auto;
  position: relative;
  box-shadow: 0 0 0 8px #0e1988, 0 0 0 24px #6aa2f2, 0 0 0 32px #0e1988;
  border-radius: 100%;
  background: #97fff2;
  overflow: hidden;
}
.machine .canvas .body .water {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  border-radius: 100%;
  -webkit-transform: translateZ(0);
}
.machine .canvas .body .water:before {
  content: "";
  width: 120%;
  height: 66.66%;
  display: block;
  background: #63f0fe;
  position: absolute;
  bottom: 0;
  left: -10%;
  z-index: 1;
  -webkit-animation: water-animation 2.4s 0s infinite linear;
          animation: water-animation 2.4s 0s infinite linear;
  border-top-left-radius: 100px 20px;
  border-top-right-radius: 100px 20px;
}
.machine .canvas .body .water:after {
  content: "";
  width: 120%;
  height: 66.66%;
  display: block;
  background: #49d4fd;
  position: absolute;
  bottom: -33.33%;
  left: -10%;
  z-index: 2;
  -webkit-animation: water-animation 2.4s 0.2s infinite linear;
          animation: water-animation 2.4s 0.2s infinite linear;
  border-top-left-radius: 100px 10px;
  border-top-right-radius: 100px 10px;
}
.machine .canvas .body .washinglaundry {
  width: 128px;
  height: 79px;
  position: absolute;
  top: 30px;
  right: -100%;
  z-index: 3;
  -webkit-animation: laundry-animation 7s 0s infinite linear;
          animation: laundry-animation 7s 0s infinite linear;
}

.machine .canvas .body .spinlaundry {
  width: 128px;
  height: 79px;
  position: absolute;
  top: 30px;
  right: -100%;
  z-index: 3;
  -webkit-animation: laundry-animation 0.1s 0.1s infinite linear;
          animation: laundry-animation 0.1s 0.1s infinite linear;
}

.machine .canvas .body .nowater {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  border-radius: 100%;
  -webkit-transform: translateZ(0);
}

.machine .base {
  width: 200%;
  height: 8px;
  -webkit-transform: translate(-23%, 0);
  transform: translate(-23%, 0);
  border-bottom: solid 8px #0e1988;
}
.machine .base:before, .machine .base:after {
  content: "";
  display: block;
  width: 35px;
  height: 8px;
  background: #6aa1f0;
  border: solid 8px #0e1988;
  border-top: solid 5px #0e1988;
  border-radius: 20px;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;
  position: absolute;
  top: -5px;
}
.machine .base:before {
  left: 29%;
}
.machine .base:after {
  left: 60%;
}

@-webkit-keyframes water-animation {
  from {
    -webkit-transform: rotate(0deg) translateX(10px) rotate(0deg);
            transform: rotate(0deg) translateX(10px) rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg) translateX(10px) rotate(-360deg);
            transform: rotate(360deg) translateX(10px) rotate(-360deg);
  }
}

@keyframes water-animation {
  from {
    -webkit-transform: rotate(0deg) translateX(10px) rotate(0deg);
            transform: rotate(0deg) translateX(10px) rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg) translateX(10px) rotate(-360deg);
            transform: rotate(360deg) translateX(10px) rotate(-360deg);
  }
}
@-webkit-keyframes laundry-animation {
  0% {
    right: -100%;
    -webkit-transform: rotate(0deg) translateX(10px) rotate(0deg) rotateY(0deg);
            transform: rotate(0deg) translateX(10px) rotate(0deg) rotateY(0deg);
  }
  50% {
    right: 100%;
    -webkit-transform: rotate(360deg) translateX(10px) rotate(-355deg) rotateY(0deg);
            transform: rotate(360deg) translateX(10px) rotate(-355deg) rotateY(0deg);
  }
  51% {
    right: 100%;
    -webkit-transform: rotate(360deg) translateX(10px) rotate(-355deg) rotateY(180deg) scale(0.6);
            transform: rotate(360deg) translateX(10px) rotate(-355deg) rotateY(180deg) scale(0.6);
  }
  100% {
    right: -100%;
    -webkit-transform: rotate(360deg) translateX(10px) rotate(-355deg) rotateY(180deg) scale(0.6);
            transform: rotate(360deg) translateX(10px) rotate(-355deg) rotateY(180deg) scale(0.6);
  }
}
@keyframes laundry-animation {
  0% {
    right: -100%;
    -webkit-transform: rotate(0deg) translateX(10px) rotate(0deg) rotateY(0deg);
            transform: rotate(0deg) translateX(10px) rotate(0deg) rotateY(0deg);
  }
  50% {
    right: 100%;
    -webkit-transform: rotate(360deg) translateX(10px) rotate(-355deg) rotateY(0deg);
            transform: rotate(360deg) translateX(10px) rotate(-355deg) rotateY(0deg);
  }
  51% {
    right: 100%;
    -webkit-transform: rotate(360deg) translateX(10px) rotate(-355deg) rotateY(180deg) scale(0.6);
            transform: rotate(360deg) translateX(10px) rotate(-355deg) rotateY(180deg) scale(0.6);
  }
  100% {
    right: -100%;
    -webkit-transform: rotate(360deg) translateX(10px) rotate(-355deg) rotateY(180deg) scale(0.6);
            transform: rotate(360deg) translateX(10px) rotate(-355deg) rotateY(180deg) scale(0.6);
  }
}




 
.invisible {
    display: none;
    visibility: hidden;
}

.rotate1 {
    -webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 4s linear infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }


.rotate2 {
    -webkit-animation:spin2 3s linear infinite;
    -moz-animation:spin2 3s linear infinite;
    animation:spin2 3s linear infinite;
}
@-moz-keyframes spin2 { 100% { -moz-transform: rotate(-360deg); } }
@-webkit-keyframes spin2 { 100% { -webkit-transform: rotate(-360deg); } }
@keyframes spin2 { 100% { -webkit-transform: rotate(-360deg); transform:rotate(-360deg); } }

.machine .canvas .body .thirty {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  left: 30px;
  border-radius: 100%;
  -webkit-transform: translateZ(0);
}

.machine .canvas .body .steadywater {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  border-radius: 100%;
  content: "";
  width: 120%;
  height: 66.66%;
  display: block;
  background: #63f0fe;
  position: absolute;
  bottom: 0;
  left: -10%;
  border-top-left-radius: 100px 20px;
  border-top-right-radius: 100px 20px;
}

.machine .canvas .steadysocks {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  top: 60px;
  z-index:1
  border-radius: 100%;
  -webkit-transform: translateZ(0);
}
