<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>



<plugin>

   
<!--@generated-->
  <extension point="org.eclipse.emf.ecore.generated_package">
      <package class="com.thalesgroup.trt.mde.vp.mode.mode.ModePackage" genModel="models/mode.genmodel" uri="http://www.thalesgroup.com/trt/mode/1.0.0"/>
   </extension>

   
<!--@generated-->
  <extension point="org.eclipse.emf.ecore.extension_parser">
      <parser class="com.thalesgroup.trt.mde.vp.mode.mode.util.ModeResourceFactoryImpl" type="mode"/>
   </extension>


<!--@generated-->
  <extension point="org.polarsys.capella.common.model.helpers.helper">
    <helperImpl class="com.thalesgroup.trt.mde.vp.mode.model.helpers.ModePackageHelper" nsURI="http://www.thalesgroup.com/trt/mode/1.0.0"/>
  </extension>
</plugin>
