<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

	<extension
	     point="org.polarsys.kitalpha.resourcereuse.resources">
	  <resource
	        domain="vpdsl"
	        id="com.thalesgroup.trt.mde.vp.time.vpdsl.description"
	        tags="vpdesc"
	        name="time"
	        path="/com.thalesgroup.trt.mde.vp.time.vpdsl/model/time.vpdesc"/>
	</extension>


	<extension
	     point="org.polarsys.kitalpha.resourcereuse.resources">
	  <resource
	        domain="vpdsl"
	        id="com.thalesgroup.trt.mde.vp.time.vpdsl.resource.time.spec"
	        tags="Viewpoint"
	        name="spec"
	        path="/com.thalesgroup.trt.mde.vp.time.vpdsl/model/time.spec.vptext"/>
	</extension>

	<extension
	     point="org.polarsys.kitalpha.resourcereuse.resources">
	  <resource
	        domain="vpdsl"
	        id="com.thalesgroup.trt.mde.vp.time.vpdsl.resource.time.data"
	        tags="Viewpoint"
	        name="data"
	        path="/com.thalesgroup.trt.mde.vp.time.vpdsl/model/time.data.vptext"/>
	</extension>

	<extension
	     point="org.polarsys.kitalpha.resourcereuse.resources">
	  <resource
	        domain="vpdsl"
	        id="com.thalesgroup.trt.mde.vp.time.vpdsl.resource.time.conf"
	        tags="Viewpoint"
	        name="conf"
	        path="/com.thalesgroup.trt.mde.vp.time.vpdsl/model/time.conf.vptext"/>
	</extension>
</plugin>